openid-authorization-endpoint=
openid-jwks-endpoint=
openid-issuer=
openid-client-id=
openid-redirect-uri=
openid-username-claim-type=
openid-groups-claim-type=
openid-scope=
openid-allowed-clock-skew=
openid-max-token-validity=
openid-max-nonce-validity=
